<h1>Editing photo</h1>

<%= render 'form' %>

<%= link_to 'Show', user_album_photo_path(current_user, @photo.album, @photo) %> |
<%= link_to 'Back', user_album_photos_path(current_user, @photo.album) %>
